 <!DOCTYPE html>  
    <html lang="en">  
<head>  
        <meta charset="UTF-8">  
        <title>Index</title>  
        {% load static %}  
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
    </head> 

        <body>  
      <h1 class="heading">Newest Movies<h1>

  {% if newest_movies %}
      <ul style="border: 1px solid gray;width: 50%;text-align: right;margin: 10% 3% 0% 23%;height: 50vh;padding: 23px;color: grey;text-decoration: none;overflow: scroll;">
            <a style="background: #40679a;color: white;border: none;padding: 8px;text-decoration: none;font-size: 12px; text-align: right;"
            type="link" href="/movies/new">Add Movie</a>

      {% for movie in newest_movies %}
         <div style="text-align: left;padding: 15px;border-bottom: 1px solid #8080806e;">
             
            <a style="text-decoration: none;font-size: 25px;text-align: center;color: #40679a;"
            href="{% url 'movies:show' movie.id %}">{{ movie.title }}</a>
         </div>
{% endfor %}
      </ul>
  {% else %}
      <p>There are no movies recorded.</p>
  {% endif %}
  </body>
</html>