 <html lang="en">  
<head>  
        <meta charset="UTF-8">  
        <title>Index</title>  
        {% load static %}  
        <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
    <script>
        function confirm_delete(orderno){
            var r = confirm("Sure you want to delete?");
            if (r == true) {
            window.location.href="/movies/delete/{{ movie.id }}"
        }
        }
    </script>
    </head> 

        <body>  
<h1 class="heading">{{movie.title}} Details</h1>

<div style="display: flex;width: 50%;border: 1px solid #80808070;margin: 12% 25%;">
    <div style="margin: 5%;">
        <a class="btn btn-primary" href="/movies" style="background: #40679a;color: white;border: none;padding: 6;margin: 5% 10%;text-decoration: none;">Home</a>
            <!--<input style="background: #40679a;color: white;border: none;padding: 6;/*! border-radius: 15px; */margin: 5% 10%;"-->
            <!--type=button value="Previous Page" onClick="javascript:history.go(-1);">-->

<img style="margin: 10%;height: 300;width: 200;" src="{{ movie.cover.url }}" width = '300'/>
</div>
<div style="margin: 11% 0%;/*! color: grey; */">
  <table style="color: grey;line-height: 26px;">
      <thead>
      </thead>
      <tbody>
          <tr>
              <td><b>Director:</b></td>
              <td>{{movie.director}}</td>
</tr> <tr>
              <td><b>Release date:</b></td>
              <td>{{movie.year}}</td>
          </tr>
          <tr>
              <td><b>Genre:</b></td>
              <td>{{movie.genre}}</td>
</tr> <tr>
              <td><b>Duration (hrs):</b></td>
              <td>{{movie.duration}}</td>
          </tr>
          <tr>
              <td>
                <a style="background: #40679a;color: white;border: none;padding: 5;/*! margin: 5% 10%; */text-decoration: none;font-size: 12;border-radius: 5px;"
                href="/movies/update/{{ movie.id }}">Edit</a>  
                <a style="background: #bf4153;color: white;border: none;padding: 5;/*! margin: 5% 10%; */text-decoration: none;font-size: 12;border-radius: 5px;"
               onclick="confirm_delete('{{i.order_no}}');">Delete</a>  
              </td>
          </tr>
    </tbody>
</table>
</div>
</div>
</body>
</html>